* {
   margin:0;
   padding: 0;
   box-sizing:border-box;
   word-wrap: break-word;
}

html,body{
    width: 100%;
    background: #001b1b;
    
}

.conteiner{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background: #021f19;
    border: 4px solid #021f19;
    border-radius: 6px;
    box-shadow: 4px 4px 4px 4px #000000;
    margin-top:120px;
    margin-left:400px;
    gap: 20px;
    width: 500px;
    height: 400px;
}

.conteiner h1{
    margin-top: -10px;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contador{
    width: 400px;
    border: 2px solid #a09b9b;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #000000;
    color: #F27405;
    background: #a09b9b;
    padding: 4px 24px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.botoes{
    padding: 4px;
}
.botoes button{
   width: 100px;
   height: 35px;
   border: none;
   border-radius: 4px 20px 20px 4px;
   cursor: pointer;
   color:white;
   font-family:  cursive;
   transition: filter 0.2s ;
}

.botoes button:nth-child(1){
    background:#ff95c7;

}
.botoes button:nth-child(2){
    background: #C43302;
    
}
.botoes button:nth-child(3){
    background: #2E3559;

}
.botoes button:nth-child(1):hover{
   filter: brightness(0.1);

}
.botoes button:nth-child(2):hover{
   filter: brightness(0.1);

}
.botoes button:nth-child(3):hover{
   filter: brightness(0.1);

}


.pause-red{
    color:rgb(255, 0, 0);
}