* {
   margin:0;
   padding: 0;
   box-sizing:border-box;
}

html,body{
    width: 100%;
    
}

.conteiner{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:240px;
   gap: 15px;
}

.contador{
    border: 2px solid green;
    padding: 4px 24px;
    font-size: 2rem;
    
}

